.card{
    width: 358px;
    min-width: 280px;
    min-width: 400px;
    padding: 59px 30px;
    border-radius: 10px;
    box-shadow: 0px 50px 115px 0px rgba(165, 153, 209, 0.3);
    background-color: #fff;
}
.card img{
    margin: 5px 0 52px 0;
}
.card figcaption{
    margin-bottom: 30px;
    font-size: 18px;
}
.card p{
    font-weight: 300;
    font-size: 14px;
}