.card{
    width: 358px;
    min-width: 280px;
    height: 400px;
    padding: 59px 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgba(165, 153, 209, 0.3);
    background-color: #fff;
    margin: 30px 0;
}

.card img{
    margin: 5px 0 52px 0;
}
.card figcaption{
    margin-bottom: 30px;
    font-size: 18px;
}
.card p{
    font-weight: 300;
    font-size: 14px;
}