.main {
  display: flex;
  align-items: center;
  background-image: url('../images/mask.svg');
  width: 100%;
  height: calc(100vh - 130px);
  min-height: 0;
}
.main article {
  width: 515px;
  min-width: 350px;
}
.main article h1 {
  color: #291d61;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  margin-bottom: 40px;
}
.main article p {
  font-weight: 300;
  color: #363049;
  margin-bottom: 60px;
}
.main article button{
    color: #fff;
    background-color: #7951F9;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    width: 242px;
    height: 70px;
    font-size: 20px;
    transition: all 0.3s ease;
}
.main article button:hover{
  color: #7951F9;
  background-color: #fff;
}
