.resultBlock {
  display: flex;
  align-items: center;
}
.resultBlock article{
    width: 512px;
    min-width: 280px;
    color: #2D1D61;
    font-size: 36px;
}
.resultBlock article h1{
    color: inherit;
    margin-bottom: 40px;
}
.resultBlock article p{
    width: 80%;
    color: #363049;
    font-size: 16px;
}