@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000;
  background-size: cover;
  background-position: center;
}
main{
  background-color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section{
  min-height: 100vh;
  width: 100%;
  padding: 0 10%;
}